name: ci

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/chattabotgpt:latest

  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Build and push Docker image
        run: |
          $(aws ecr get-login --no-include-email --region us-west-2)
          docker build -t my-chattabot:latest .
          docker tag chattabot:latest 031572487547.dkr.ecr.us-west-2.amazonaws.com/chattabot:latest
          docker push 031572487547.dkr.ecr.us-west-2.amazonaws.com/chattabot:latest
